@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Steve again 1 2 3/h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <p>Country UK</a>.</p>
   <p>Country Ireland</a>.</p>
   <p>Country USA</a>.</p>
   <p>Country France</a>.</p>
    <p>Country Finland and Iceland</a>.</p>
</div>
